.logo-slider {
  .swiper-slide-shadow-left, .swiper-slide-shadow-right {
    display: none;
  }
    .swiper-wrapper {
      width: 25rem;
      height: 5rem;
      position: relative;
      }
  .swiper-slide {


  }
    div {
      width: 25rem;
      height: 5rem;

    }
}