div.container-license
    h1 Сертификаты
    div.slider-license.swiper-container
        div.swiper-wrapper
            each className, index in ['license', 'license', 'license', 'license', 'license', 'license', 'license', 'license', 'license', 'license']
                div.swiper-slide(class=className)