div.container-license
    h1 Сертификаты
    div.slider-license.swiper-container
        div.swiper-wrapper
            div.swiper-slide
            div.swiper-slide
            div.swiper-slide
            div.swiper-slide