@import "./settings-menu/mixin";
@import "settings-menu/color";


.menu {
  @include padding-element(0);
  @include margin-element(0);
  background: $background-container-menu;
  position: fixed;
  height: 100vh;
  width: 3.48em;
  text-align: center;
  .container-img-logo {
    height: 3.43em;
  }
  img {
    @include padding-element(1.25em 0);
    height: inherit;
  }
  .img-text-kt {
    display: none;
  }
  ul {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: inherit;
    li {
      list-style: none;
      height: 3.48em;
      a {
        display: block;
        height: inherit;
        &.fb-logo {
          background: url('./img/fb.png') center/cover no-repeat;
        }
        &.vk-logo {
          background: url('./img/vk.png') center/cover no-repeat;
        }
        &.insta-logo {
          background: url('./img/insta.png') center/cover no-repeat;
        }
        &.youtube-logo {
          background: url('./img/youtube.png') center/cover no-repeat;
        }
        &.pensil {
          background: url('./img/message.svg') center/cover no-repeat;
          background-size: 70%;
        }
        &.fb-logo, &.vk-logo, &.insta-logo, &.youtube-logo {
          background-position-y: -2%;
          &:hover {
            background-position-y: 100%;
          }
        }
      }
      &.burger {
        display: none;
      }
      &.pensil {
        background: $background-color-pensil-element-menu;
      }
    }

    li:not(:last-child) {
      border-top: .1em solid $color-li-border-menu;
    }
  }
}


@media (max-width: 900px) {
  .menu {
    @include padding-element(.625em 1.25em);
    width: 100%;
    position: relative;
    height: 23em;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    .container-img-logo {
      height: inherit;
      padding: 2em 2em;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
    }
    img {
      height: 80%;
      display: inline;
    }
    img:nth-child(2) {
      height: 50%;
      margin-left: 2.5em;
    }
    .img-text-kt {
      display: inline;
    }
    ul {
      position: relative;
      right: 5%;
      top: 0;
      bottom: 0;
      width: initial;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      align-items: center;
      li {
        width: 10em;
        height: 10em;
        border: none !important;
        cursor: pointer;
        a.pensil {
          background-size: 100%;
        }
        &.pensil {
          background: none;
        }
        &.burger {
          display: block;
          background: url("./img/all_services.svg") no-repeat;
          width: 7em;
          height: 7em;
          margin-left: 10em;
        }
        &.close-mobile-menu {
          display: block;
          width: 7em;
          height: 7em;
          margin-left: 10em;
          background: url("./img/close.svg") no-repeat;
        }
      }
      li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4) {
        display: none;
      }
    }
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1lbnUuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxnQ0FBZ0M7QUFDaEMsOEJBQThCOzs7QUFHOUI7RUFDRSw0QkFBNEI7RUFDNUIsMkJBQTJCO0VBQzNCLHVDQUF1QztFQUN2QyxnQkFBZ0I7RUFDaEIsY0FBYztFQUNkLGNBQWM7RUFDZCxtQkFBbUI7RUFDbkI7SUFDRSxlQUFBO0dBQ0Q7RUFDRDtJQUNBLG1DQUFBO0lBQ0UsZ0JBQUE7R0FDRDtFQUNEO0lBQ0UsY0FBVTtHQUNYO0VBQ0Q7SUFDRSxtQkFBbUI7SUFDbkIsVUFBRTtJQUNGLFdBQUU7SUFDRixVQUFJO0lBQ0osZUFBSTtJQUNKO01BQ0UsaUJBQUk7TUFDSixlQUFHO01BQ0g7UUFDRSxlQUFFO1FBQ0YsZ0JBQUM7UUFDRDtVQUNFLHVEQUFBO1NBQ0Q7UUFDRDtVQUNFLHVEQUFBO1NBQ0Q7UUFDRDtVQUNFLDBEQUFBO1NBQ0Q7UUFDRDtVQUNBLDREQUFBO1NBQ0M7UUFDRDtVQUNFLDREQUE4QjtVQUM5QixxQkFBQztTQUNGO1FBQ0Y7VUFDRiwyQkFBQTtVQUNLO1lBQ04sNEJBQUE7V0FDRTtTQUNEO09BQ0Q7TUFDQztRQUNHLGNBQWM7T0FDbkI7TUFDRjtRQUNJLGtEQUFBO09BQ0Q7S0FDQzs7SUFFRjtNQUNGLDZDQUFBO0tBQ0k7R0FDRjtDQUNIOzs7QUFHQTtFQUNFO0lBRkUsd0NBQUE7SUFJQSxZQUFBO0lBQ0EsbUJBQUE7SUFKQSxhQUFBO0lBTUEsaUJBTkE7SUFPQSxxQkFBQTtJQU5BLHFCQUFBO0lBUUEsY0FBSTtJQUNKLCtCQVIrQjtJQVMvQiw4QkFUQTtRQVVJLHdCQVZKO1lBQ0Esb0JBQUE7SUFXQSwwQkFBQTtRQUNJLHVCQUFIO1lBQ0Qsb0JBQUE7SUFDQSwrQkFWRTtZQUFBLHVCQUFBO0lBWUYsMEJBQTBCO1FBQzFCLHVCQUFBO1lBQ0UsK0JBQUE7O0lBRUY7TUFDRSxnQkFEQTtNQUNBLGlCQUFBO01BQUEsK0JBWkQ7Y0FZQyx1QkFaRDtNQWFDLHFCQUFBO01BSUEscUJBSkE7TUFLQSxjQUxBO01BQ0QsNEJBQUE7VUFDRCx5QkFBQTtjQUNELHNCQUFBO0tBTUU7SUFDRDtNQUpBLFlBQUE7TUFDRSxnQkFBWTtLQU1iO0lBQ0Q7TUFKQSxZQUFBO01BQ0UsbUJBQWdCO0tBQ2pCO0lBQ0Q7TUFDRSxnQkFBQTtLQU1EO0lBQ0Q7TUFKRSxtQkFBVTtNQUNWLFVBQUE7TUFDQSxPQUFBO01BQ0EsVUFBQTtNQUNBLGVBQUE7TUFDQSxxQkFBYztNQUNkLHFCQUFBO01BTUEsY0FOQTtNQU9BLHlCQVBBO1VBQ0Esc0JBQUE7Y0FDRSx3QkFBWTtNQVFkLDBCQVBlO1VBT2YsdUJBUGU7Y0FPZixvQkFQZTtNQVFmO1FBTkEsWUFBQTtRQUNFLGFBQUE7UUFDRCx3QkFBQTtRQUNELGdCQUFBO1FBVUU7VUFSRCxzQkFBQTtTQUNGO1FBVUc7VUFSUCxpQkFBQTtTQVFPO1FBR0E7VUFERSxlQUFBO1VBQ0Esb0RBQVc7VUFDWCxXQUFBO1VBQ0EsWUFBQTtVQUNELGtCQUFBO1NBQ0Q7UUFHQTtVQURFLGVBQVc7VUFDWCxXQUFBO1VBQ0EsWUFBQTtVQUNBLGtCQUFBO1VBQ0QsNkNBQUE7U0FDRjtPQUNEO01BR0E7UUFEQyxjQUFBO09BQ0Y7S0FDRjtHQUNGO0NBR0EiLCJmaWxlIjoibWVudS5zY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCBcIi4vc2V0dGluZ3MtbWVudS9taXhpblwiO1xyXG5AaW1wb3J0IFwic2V0dGluZ3MtbWVudS9jb2xvclwiO1xyXG5cclxuXHJcbi5tZW51IHtcclxuICBAaW5jbHVkZSBwYWRkaW5nLWVsZW1lbnQoMCk7XHJcbiAgQGluY2x1ZGUgbWFyZ2luLWVsZW1lbnQoMCk7XHJcbiAgYmFja2dyb3VuZDogJGJhY2tncm91bmQtY29udGFpbmVyLW1lbnU7XHJcbiAgcG9zaXRpb246IGZpeGVkO1xyXG4gIGhlaWdodDogMTAwdmg7XHJcbiAgd2lkdGg6IDMuNDhlbTtcclxuICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgaW1nIHtcclxuICAgIEBpbmNsdWRlIHBhZGRpbmctZWxlbWVudCgxLjI1ZW0gMCk7XHJcbiAgICBoZWlnaHQ6IDMuMjVlbTtcclxuICB9XHJcbiAgdWwge1xyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgYm90dG9tOiAwO1xyXG4gICAgcGFkZGluZzogMDtcclxuICAgIG1hcmdpbjogMDtcclxuICAgIHdpZHRoOiBpbmhlcml0O1xyXG4gICAgbGkge1xyXG4gICAgICBsaXN0LXN0eWxlOiBub25lO1xyXG4gICAgICBoZWlnaHQ6IDMuNDhlbTtcclxuICAgICAgYSB7XHJcbiAgICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICAgICAgaGVpZ2h0OiBpbmhlcml0O1xyXG4gICAgICAgICYuZmItbG9nbyB7XHJcbiAgICAgICAgICBiYWNrZ3JvdW5kOiB1cmwoJy4vaW1nL2ZiLnBuZycpIGNlbnRlci9jb3ZlciBuby1yZXBlYXQ7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICYudmstbG9nbyB7XHJcbiAgICAgICAgICBiYWNrZ3JvdW5kOiB1cmwoJy4vaW1nL3ZrLnBuZycpIGNlbnRlci9jb3ZlciBuby1yZXBlYXQ7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICYuaW5zdGEtbG9nbyB7XHJcbiAgICAgICAgICBiYWNrZ3JvdW5kOiB1cmwoJy4vaW1nL2luc3RhLnBuZycpIGNlbnRlci9jb3ZlciBuby1yZXBlYXQ7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICYueW91dHViZS1sb2dvIHtcclxuICAgICAgICAgIGJhY2tncm91bmQ6IHVybCgnLi9pbWcveW91dHViZS5wbmcnKSBjZW50ZXIvY292ZXIgbm8tcmVwZWF0O1xyXG4gICAgICAgIH1cclxuICAgICAgICAmLnBlbnNpbCB7XHJcbiAgICAgICAgICBiYWNrZ3JvdW5kOiB1cmwoJy4vaW1nL21lc3NhZ2Uuc3ZnJykgY2VudGVyL2NvdmVyIG5vLXJlcGVhdDtcclxuICAgICAgICAgIGJhY2tncm91bmQtc2l6ZTogNzAlO1xyXG4gICAgICAgIH1cclxuICAgICAgICAmLmZiLWxvZ28sICYudmstbG9nbywgJi5pbnN0YS1sb2dvLCAmLnlvdXR1YmUtbG9nbyB7XHJcbiAgICAgICAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uLXk6IC0yJTtcclxuICAgICAgICAgICY6aG92ZXIge1xyXG4gICAgICAgICAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uLXk6IDEwMCU7XHJcbiAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcblxyXG4gICAgbGk6bm90KDpsYXN0LWNoaWxkKSB7XHJcbiAgICAgIGJvcmRlci10b3A6IC4xZW0gc29saWQgJGNvbG9yLWxpLWJvcmRlci1tZW51O1xyXG4gICAgfVxyXG4gICAgbGk6bGFzdC1jaGlsZCB7XHJcbiAgICAgIGJhY2tncm91bmQ6ICRiYWNrZ3JvdW5kLWNvbG9yLXBlbnNpbC1lbGVtZW50LW1lbnU7XHJcbiAgICB9XHJcbiAgfVxyXG59Il19 */