@import "./settings-style/fonts";
@import "./settings-style/color";
@import "./settings-style/mixin";

body {
  font-size: calc((1vw - 480px)/(1280 - 480) * (24 - 16) + 16px);
}

.opacity {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  z-index: 2;
  opacity: .5;
  background-color: black;
}

.content-project-slider {
  padding: 4.437rem 6.06rem;
  margin-left: 3.48rem;
  .container-year {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    span {
      display: block;
      box-sizing: border-box;
      font-family: 'ProximaNova_Regilar', serif;
      font-size: 1.125rem;
      cursor: pointer;
      &.active {
        font-weight: bold;
        &::after {
          width: 100%;
        }
      }
      &::after {
        content: "";
        display: block;
        background: #56c3e7;
        position: relative;
        left: 0;
        width: 0;
        height: .2rem;
        transition: width .5s;
      }
      &:not(:last-child) {
        margin-right: 1rem;
      }
      &:hover {
        font-weight: bold;
        &::after {
          width: 100%;
        }
      }
    }
  }
  .project-slider {
    margin-bottom: 3rem;
    .swiper-wrapper {
      position: relative;
      .swiper-slide-shadow-left, .swiper-slide-shadow-right {
        display: none;
      }
    }
  }

}

@media (max-width: 640px) {

  .content-project-slider {
    padding: 20rem 6.06rem;
    margin-left: 0;
    .container-year {
      span {
        font-size: 7rem;
      }
    }
  }


  //.naw-arrow {
  //  display: -webkit-box;
  //  display: -ms-flexbox;
  //  display: flex;
  //}
  //
  //.swiper-button-prev, .swiper-button-next {
  //  position: relative;
  //  top: initial;
  //  bottom: 0;
  //  background: url("./img/navarrow.png") #2a2d32 50% 50% no-repeat;
  //  width: 50%;
  //}
  //.swiper-button-prev {
  //  left: 0;
  //}
  //.swiper-button-next {
  //  right: 0;
  //  -webkit-transform: rotate(180deg);
  //          transform: rotate(180deg);
  //}
}