extends ../../components/head/head
block title
    | portfolio

block main
    div.main
        div.opacity
        include ../../components/menu/menu
        div.container-form
            include ../../components/form/form
            +create_form("form")
        include ../../components/mobile-menu/mobile-menu
        include ../../components/header/header
        div.container-project-slider
            div.content-project-slider
                div.container-year
                    each text, index in ["2016", "2017", "2108"]
                        case index
                            when 0
                                span=text
                            when 1
                                span=text
                            when 2
                                span.active=text
                div.project-slider.swiper-container
                    div.swiper-wrapper
                        each className in ["bidva", "ipaar", "ipaar"]
                            div.swiper-slide
                                div(class=className)