div.container-header
    div.header
        div.title-header
            each category, index in ['Главная', '...', 'Портфолио']
                if index === 0
                    a(href='#')= category
                if index === 1
                    a= category
                if index === 2
                    a(href='#')= category
        h1 ПОРТФОЛИО
        div.all-service
            img(src=require('./img/all_services.svg'))
            a(href='#') Все услуги