.content-mobile-menu {
  display: none;
}

@media (max-width: 900px) {
  .content-mobile-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4em;
    ul {
      padding: 0;
      margin-bottom: 5em;
      li {
        list-style: none;
        text-align: center;
        margin-bottom: 2em;
        a {
          text-decoration: none;
          color: black;
          font-size: 5em;
          font-family: ProximaNova-Black;
        }
      }
    }
    .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      span {
        font-size: 5em;
        font-family: ProximaNova_Regilar;
        &:nth-child(2) {
          color: black;
        }
      }
      a {
        text-decoration: none;
        color: black;
        font-size: 5em;
        font-family: ProximaNova_Regilar;
        font-weight: bold;
      }
    }

    .social-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 5em;
      li {
        margin: 0;
        padding: 0;
        &.facebook {
          width: 18em;
          height: 18em;
          background: url('./img/fb.png') 50% 100% no-repeat;
        }
        &.vkontakte {
          width: 18em;
          height: 18em;
          background: url('./img/vk.png') 50% 100% no-repeat;
        }
        &.instagramm {
          width: 18em;
          height: 18em;
          background: url('./img/insta.png') 50% 100% no-repeat;
        }
        &.you-tube {
          width: 18em;
          height: 18em;
          background: url('./img/youtube.png') 50% 100% no-repeat;
        }
      }
    }
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1vYmlsZS1tZW51LnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxjQUFjO0NBQ2Y7O0FBRUQ7RUFDRTtJQUNFLGNBQWM7SUFDZCw2QkFBdUI7SUFBdkIsOEJBQXVCO1FBQXZCLDJCQUF1QjtZQUF2Qix1QkFBdUI7SUFDdkIsMEJBQW9CO1FBQXBCLHVCQUFvQjtZQUFwQixvQkFBb0I7SUFDcEIsYUFBYTtJQUNiO01BQ0UsV0FBVztNQUNYLG1CQUFtQjtNQUNuQjtRQUNFLGlCQUFpQjtRQUNqQixtQkFBbUI7UUFDbkIsbUJBQW1CO1FBQ25CO1VBQ0Usc0JBQXNCO1VBQ3RCLGFBQWE7VUFDYixlQUFlO1VBQ2YsK0JBQStCO1NBQ2hDO09BQ0Y7S0FDRjtJQUNEO01BQ0UsNkJBQXVCO01BQXZCLDhCQUF1QjtVQUF2QiwyQkFBdUI7Y0FBdkIsdUJBQXVCO01BQ3ZCO1FBQ0UsZUFBZTtRQUNmLGlDQUFpQztPQUNsQztLQUNGOztJQUVEO01BQ0UscUJBQWM7TUFBZCxxQkFBYztNQUFkLGNBQWM7TUFDZCx5QkFBd0I7VUFBeEIsc0JBQXdCO2NBQXhCLHdCQUF3QjtNQUN4QixnQkFBZ0I7TUFDaEI7UUFDRSxVQUFVO1FBQ1YsV0FBVztRQUNYO1VBQ0UsWUFBWTtVQUNaLGFBQWE7VUFDYixtREFBbUQ7U0FDcEQ7UUFDRDtVQUNFLFlBQVk7VUFDWixhQUFhO1VBQ2IsbURBQW1EO1NBQ3BEO1FBQ0Q7VUFDRSxZQUFZO1VBQ1osYUFBYTtVQUNiLHNEQUFzRDtTQUN2RDtRQUNEO1VBQ0UsWUFBWTtVQUNaLGFBQWE7VUFDYix3REFBd0Q7U0FDekQ7T0FDRjtLQUNGO0dBQ0Y7Q0FDRiIsImZpbGUiOiJtb2JpbGUtbWVudS5zY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLmNvbnRlbnQtbW9iaWxlLW1lbnUge1xyXG4gIGRpc3BsYXk6IG5vbmU7XHJcbn1cclxuXHJcbkBtZWRpYSAobWF4LXdpZHRoOiA5MDBweCkge1xyXG4gIC5jb250ZW50LW1vYmlsZS1tZW51IHtcclxuICAgIGRpc3BsYXk6IG5vbmU7XHJcbiAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xyXG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcclxuICAgIHBhZGRpbmc6IDRlbTtcclxuICAgIHVsIHtcclxuICAgICAgcGFkZGluZzogMDtcclxuICAgICAgbWFyZ2luLWJvdHRvbTogNWVtO1xyXG4gICAgICBsaSB7XHJcbiAgICAgICAgbGlzdC1zdHlsZTogbm9uZTtcclxuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICAgICAgbWFyZ2luLWJvdHRvbTogMmVtO1xyXG4gICAgICAgIGEge1xyXG4gICAgICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG4gICAgICAgICAgY29sb3I6IGJsYWNrO1xyXG4gICAgICAgICAgZm9udC1zaXplOiA1ZW07XHJcbiAgICAgICAgICBmb250LWZhbWlseTogUHJveGltYU5vdmEtQmxhY2s7XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgICAuY29udGFpbmVyIHtcclxuICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxuICAgICAgc3BhbiB7XHJcbiAgICAgICAgZm9udC1zaXplOiA1ZW07XHJcbiAgICAgICAgZm9udC1mYW1pbHk6IFByb3hpbWFOb3ZhX1JlZ2lsYXI7XHJcbiAgICAgIH1cclxuICAgIH1cclxuXHJcbiAgICAuc29jaWFsLW1lbnUge1xyXG4gICAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxuICAgICAgbWFyZ2luLXRvcDogNWVtO1xyXG4gICAgICBsaSB7XHJcbiAgICAgICAgbWFyZ2luOiAwO1xyXG4gICAgICAgIHBhZGRpbmc6IDA7XHJcbiAgICAgICAgJi5mYWNlYm9vayB7XHJcbiAgICAgICAgICB3aWR0aDogMThlbTtcclxuICAgICAgICAgIGhlaWdodDogMThlbTtcclxuICAgICAgICAgIGJhY2tncm91bmQ6IHVybCgnLi9pbWcvZmIucG5nJykgNTAlIDEwMCUgbm8tcmVwZWF0O1xyXG4gICAgICAgIH1cclxuICAgICAgICAmLnZrb250YWt0ZSB7XHJcbiAgICAgICAgICB3aWR0aDogMThlbTtcclxuICAgICAgICAgIGhlaWdodDogMThlbTtcclxuICAgICAgICAgIGJhY2tncm91bmQ6IHVybCgnLi9pbWcvdmsucG5nJykgNTAlIDEwMCUgbm8tcmVwZWF0O1xyXG4gICAgICAgIH1cclxuICAgICAgICAmLmluc3RhZ3JhbW0ge1xyXG4gICAgICAgICAgd2lkdGg6IDE4ZW07XHJcbiAgICAgICAgICBoZWlnaHQ6IDE4ZW07XHJcbiAgICAgICAgICBiYWNrZ3JvdW5kOiB1cmwoJy4vaW1nL2luc3RhLnBuZycpIDUwJSAxMDAlIG5vLXJlcGVhdDtcclxuICAgICAgICB9XHJcbiAgICAgICAgJi55b3UtdHViZSB7XHJcbiAgICAgICAgICB3aWR0aDogMThlbTtcclxuICAgICAgICAgIGhlaWdodDogMThlbTtcclxuICAgICAgICAgIGJhY2tncm91bmQ6IHVybCgnLi9pbWcveW91dHViZS5wbmcnKSA1MCUgMTAwJSBuby1yZXBlYXQ7XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG59Il19 */