.container {
  display: flex;
  margin: 0 0 0 3.48rem;
  padding: 3rem 6rem;
  background: #f0f0eb;
  font-family: ProximaNova_Regilar;
}

.container-description {
  display: flex;
  flex-flow: column;
  flex: 1;
  margin-right: 3rem;
  h1 {
    font-family: ProximaNova-Black;
  }
  h2 {
    font-weight: bold;
  }
}

.descrProj {
  display: flex;
  flex: 1;
  width: 50%;
}