.conatiner-fidback {
  display: flex;
  align-items: flex-end;
  margin-left: 3.48rem;
  background: #f0f0eb;
  h1 {
    font-family: 'ProximaNova-Black', serif;
  }
}
.container-logo-company {
  padding: 2rem 5rem;
  width: 40%;
  background: #56c3e7;
}

.container-video {
  padding: 2rem 5rem;
  width: 60%;
  background: #3f4246;
}