.project-slider {
  height: 40rem;
  .swiper-slide {
    width: 20%;
    display: flex;
    flex-flow: column;
    .transform {
      margin-bottom: 2rem;
      flex: 1 20%;
      div {
        height: 100%;
      }
    }
  }
  .bidva {
    background: url("../../pages/index/img/slider-project/bidva.png") center/cover no-repeat;
  }
  .ipaar {
    background: url("../../pages/index/img/slider-project/ipaar.png") center/cover no-repeat;
  }

  .bidvalogo {
    height: 5rem;
    flex: 1 20%;
    background: url("../logo-slider/img/bidva-logo.png") 50% 7% no-repeat;
    background-size: 50%;
    &:hover {
      background: url("../logo-slider/img/bidva-logo.png") 50% 90% no-repeat;
      background-size: 50%;
    }
  }
  .logo-ipaar {
    height: 5rem;
    flex: 1;
    background: url("../logo-slider/img/ipaar-logo.png") 50% 7% no-repeat;
    background-size: 50%;
    &:hover {
      background: url("../logo-slider/img/ipaar-logo.png") 50% 90% no-repeat;
      background-size: 50%;
    }
  }
}
.transform {
  text-align: center;
  width: 100%;
  height: 75% !important;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition:  1s linear;
  -moz-transition: 1s linear;
  -o-transition: 1s linear;
  transition: 1s linear;
  .front {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: white;
    box-shadow: 0 .1rem .1rem 0 rgba(0, 0, 0, 0.1);
    border-bottom: .1rem solid #f5f5f5;
  }
  .back {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background: #56c3e7;
    color: black;
    * {
      text-align: left;
    }
    h2, ul {
      align-self: flex-start;
    }
    ul {
      align-self: flex-start;
      padding: 0 1.2rem;
    }
    a {
      background: white;
      padding: .7rem 1.5rem;
      width: 5rem;
      position: relative;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 2rem;
      text-decoration: none;
      color: black;
    }
    span {
      margin-bottom: 1rem;
    }
  }
  .front, .back {
    font-family: 'ProximaNova_Regilar', sans-serif;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 2.5rem 1.5rem 1.5rem;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &:hover {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}